@import "../base/base";

.navbar-container{
    height: 100px;
    background-color: $bg-nav-color;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    h1{
        font-size:1rem;
    }
    img{
        width: 400px;
        height: 45px;
    }
}

